*.Rproj.user
*Rhistory
.RData
*.Ruserdata
*history
*.DS_Store
/data/data-sets/original-data-set/Most-Recent-Cohorts-All-Data-Elements.csv
*concordance.tex
*.log
*.synctex.gz
*.tex
report/report.synctex.gz
report/report.log
report/report-concordance.tex
report/report.tex
report/Rplots.pdf
report/figure/
report/report-knitr.aux
report/report-knitr.out
report/report-knitr.rnw
